@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@300&family=Sora:wght@100;200&family=Trocchi&display=swap");

/*RESET DEL INDEX*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora";
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(242, 241, 235);
}

main {
  min-height: 100vh;
  min-width: 100vw;
}


  #footer {
    height: 250px;
    padding: 10px 10px;
    width: 100%;
    background-color: rgb(136, 171, 142);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: auto;
}
.footer__logo img {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: end;
}

#loginSection,
#registerSection,
#welcomeMessage,
#formularioTurno {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}
#registerSection h3 {
  margin-top: 30px;
}
#registerSection,
#loginSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-size: 20px;
  width: 450px;
  background-color: rgb(175, 200, 173);
  padding: 30px;
  margin-bottom: 50px;
  border-radius: 20px;
}
#formularioTurno {
    margin-top: 30px;
  font-size: 20px;
  width: 450px;
  background-color: rgb(175, 200, 173);
  padding: 30px;
  margin-bottom: 50px;
  border-radius: 20px;
}

/*ESTILOS MAIN TURNOS*/
#encabezadoTurnos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  margin: auto;
  margin-top: 20px;
  gap: 15px;
}
.estiloTurno {
  text-align: center;
  width: 80%;
  font-size: 20px;
}
#encabezadoTurnos h1 {
  font-size: 25px;
}

#encabezadoTurnos p {
  text-justify: auto;
  font-size: 20px;
}
.profesional {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
